<!DOCTYPE html>
<html lang="ja" style="overflow: auto;">
    <head>
        <!-- モバイル最適化 -->
        <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
        <title>puchipura</title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <div class="header-logo">
                <span class="logo-jp"> プチプラは正義(アイシャドウVer.)</span>
             </div>
        </header>
        <section id="first-block">
            <h1>■似ているアイシャドウを探す</h1>
            <div class="box1">
                {% block content %}{% endblock %}
                <p>※事前に探したい色の部分のみをトリミングした画像を載せてください。形は問わない。</p>
            </div>
        </section>
        <section id="second-block">
            <h1>■About プチプラは正義</h1>
            <div class="box1">
                <p class="about-puti">化粧する方はもちろん。しない方は、恋人や友達や家族に紹介すると面白いと思います！<br>頑張ったのでぜひ利用してください！</p>
                <p>気になっているデパートコスメは高くないですか？<br>プチプライスコスメで似ている色を手に入れよう！！！</p>
                <p><br><br></p>
            </div>
        </section>
        <footer>
            <small>© 2022 omochi</small>
         </footer>
    </body>
</html> 